# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
".idea/\344\274\212\345\257\271.iml"
__pycache__/
.idea/.name
.idea/yidui.iml
